.side_bar
  .side_bar__user_name
    .top_items
      .top_items__name
        takuya
      .top_items__icons
        = link_to "#", class: "icon_left" do
          = icon('fas', 'edit', class: "icon_left__btn")
        = link_to "#", class: "icon_right" do
          = icon('fas', 'cog', class: "icon_right__btn")
  .side_bar__group_rist
    .group_item
      .group_item__title
        techcamp
      .group_item__text
        まだメッセージがありません
    .group_item
      .group_item__title
        tech::master
      .group_item__text
        まだメッセージがありません
